Why not allow anker tags while using str_slug function?

- Laravel Version: 5.5.25
- PHP Version: 7.1
- Database Driver & Version: -

### Description:
I was using the `str_slug` function to make the input of the user a user-friendly slug, but if the user wants to add a anker tag that is also oké.  
But I found out that the `str_slug` function removes that from the string.  

My question is if that is normal behavior? because I do not see a reason to remove it from the string.

### Steps To Reproduce:
Run this string to the `str_slug` function

```
example#section1
```


It's normal behavior since slugs not allows that symbols.

The main reason written in section 2.3 of RFC2396 http://www.ietf.org/rfc/rfc2396.txt
And letters with accent transforming to puny-code since they aren't safe.

That is a clear answer. Thanks for the fast answer