Str::isUrl() returns false on single char domain name

### Laravel Version

12.49.0

### PHP Version

8.5.2

### Database Driver & Version

mysql on gnu/linux

### Description

When using Str::isUrl() to validate url, it doesnt support single char domain name, it returns false.

<img width="1291" height="377" alt="Image" src="https://github.com/user-attachments/assets/0f6d2ebd-29c7-4ac7-aa9c-e008369853fe" />

---

My use case is, i setup an alias `l` as `127.0.0.1` at /etc/hosts, using livewire v4 it fails to load livewireScripts (depend on this helper at https://github.com/livewire/livewire/blob/95bb36a6fd720d67ccee3adc2ae64864407082e0/src/Mechanisms/FrontendAssets/FrontendAssets.php#L201).

<img width="810" height="127" alt="Image" src="https://github.com/user-attachments/assets/de33ebf6-01bf-4bf9-b944-1fc38c706791" />

<img width="1147" height="232" alt="Image" src="https://github.com/user-attachments/assets/7d4365bf-f315-4ad2-8b3c-d7b9491814d9" />

expected: `http://l:8000/livewire-1c0eda25/livewire.js?`



### Steps To Reproduce

Use tinker.

@irabbi360 I think a single character is valid under [RFC 1034, section 3.1](https://datatracker.ietf.org/doc/html/rfc1034#section-3.1). Also the validation is happening at `isUrl()` in `src/Illuminate/Support/Str.php` as just some regex. Additionally Symfony already [addressed this in a PR](https://github.com/symfony/symfony/pull/43876), we could simply take their code if we want to allow - and _ for urls, otherwise we can tighten it up. I'll open a PR with their current regex logic for now.