Validation rule `email` validates the wrong emails

- Laravel Version: 5.4.23
- PHP Version: 7.1

```
'''''''@gmail.com
```

 is being validated as a valid email.

First of all Laravel uses built-in PHP email validation, so that's not really a problem with the framework.

Second, this email address is valid by RFC 822 rules:
Here's an online validator: [http://sphinx.mythic-beasts.com/~pdw/cgi-bin/emailvalidate](http://sphinx.mythic-beasts.com/~pdw/cgi-bin/emailvalidate)


To follow up on that, the package used by Symfony validator and Swiftmailer, [egulias/EmailValidator](https://github.com/egulias/EmailValidator) also has no complaints about this email address. Switmailer successfully sends an email to that address.

The actual validation is done when a user clicks the activation link in the email, I think you shouldn't worry about these kind of edge cases.

From [RFC 2822, section 3.4](https://tools.ietf.org/html/rfc2822#section-3.4)

    address         =       mailbox / group
    mailbox         =       name-addr / addr-spec
    name-addr       =       [display-name] angle-addr
    angle-addr      =       [CFWS] "<" addr-spec ">" [CFWS] / obs-angle-addr
    addr-spec       =       local-part "@" domain
    local-part      =       dot-atom / quoted-string / obs-local-part

We'e so far found out that what's left of the @ needs to be a `local-part`, which can be either a `dot-atom`, `quoted-string` or `obs-local-part`. In [section 3.2.4](https://tools.ietf.org/html/rfc2822#section-3.2.4) we find the definition of dot-atom.

    atext           =       ALPHA / DIGIT / ; Any character except controls,
                            "!" / "#" /     ;  SP, and specials.
                            "$" / "%" /     ;  Used for atoms
                            "&" / "'" /
                            "*" / "+" /
                            "-" / "/" /
                            "=" / "?" /
                            "^" / "_" /
                            "`" / "{" /
                            "|" / "}" /
                            "~"
    atom            =       [CFWS] 1*atext [CFWS]
    dot-atom        =       [CFWS] dot-atom-text [CFWS]
    dot-atom-text   =       1*atext *("." 1*atext)

So the `local-part` can be a `dot-part` which can be a `dot-atom-text`, which is at least one `atext`. And the apostrophe character is a valid `atext`. Thus the email in this issue is a valid email according to RFC 2822.